/* --------------------------------profile img */
.photo {
    grid-area: photo;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.frame {
    border-radius: 50%;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
}
.frame img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

/* --------------------------------contact */
.contactInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-area: contact;
}
.contactInfo h2 {
    padding: 10px 0px 10px 20px;
    background: linear-gradient(to right, rgb(245, 245, 245), white);
}
.contact {
    padding: 0 20px;
    border-top: 5px solid rgba(184, 184, 192, 0.589);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.contact li {
    font-size: 11pt;
    list-style: none;
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: flex-start;
    align-items: center;
}
.contact li img {
    margin: 0px 10px;
    display: block;
    width: 25px;
    height: 25px;
    image-resolution: 25px;
}

/* --------------------------------Education */
.education {
    position: relative;
    width: 100%;
    height: 100%;
    grid-area: education;
}
.education h2 {
    padding: 10px 0px 10px 20px;
    display: block;
    width: 100%;
    background: linear-gradient(to right, rgb(245, 245, 245), white);
}
.education_info {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-top: 5px solid rgba(184, 184, 192, 0.589);
    width: 100%;
}
.education_info span {
    display: block;
    padding: 5px 0;
}

.language {
    width: 100%;
    height: 100%;
    grid-area: language;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.language h2 {
    background: linear-gradient(to right, rgb(245, 245, 245), white);
    padding: 10px 0px 10px 20px;
}
.language_wrap {
    width: 100%;
    height: 100%;
    padding: 0 20px;
    border-top: 5px solid rgba(184, 184, 192, 0.589);
    display: flex;
    flex-direction: column;
    list-style: none;
}
.language_range {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
    width: 80%;
    height: 20px;
    box-shadow: 0px 0px 5px -1px rgb(139, 143, 230);
    border-radius: 5px;
    background: rgb(255, 255, 255);
}
.range1:after {
    border-radius: 5px;
    content: "";
    width: 40%;
    height: 20px;
    box-shadow: inset 0px 0px 15px 1px rgba(81, 99, 148, 0.87);
    position: absolute;
}
.range2:after {
    border-radius: 5px;
    content: "";
    width: 80%;
    height: 20px;
    box-shadow: inset 0px 0px 15px 1px rgba(81, 99, 148, 0.87);
    position: absolute;
}
.range3:after {
    border-radius: 5px;
    content: "";
    width: 60%;
    height: 20px;
    box-shadow: inset 0px 0px 15px 1px rgba(81, 99, 148, 0.87);
    position: absolute;
}

/* --------------------------------SKILLS STYLE */
.skills {
    width: 100%;
    height: 100%;
    grid-area: skills;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.skills h2 {
    background: linear-gradient(to left, rgb(245, 245, 245), white);
    padding: 10px 0px 10px 20px;
}
.stack_technology {
    width: 100%;
    height: 100%;
    padding: 10px 10px 10px 20px;
    border-top: 5px solid rgba(184, 184, 192, 0.219);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    list-style: none;
}

.skills li {
    flex-grow: 1;
    font-size: 16px;
    box-shadow: inset 0px 0px 15px 1px rgba(180, 182, 187, 0.267);
    border-radius: 5px;
    padding: 5px;
    margin: 3px;
}

/* --------------------------------employment */
.employment {
    width: 100%;
    height: 100%;
    grid-area: employment;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.employment h2 {
    background: linear-gradient(to left, rgb(245, 245, 245), white);
    padding: 10px 0px 10px 20px;
}
.wrapp_employment {
    width: 100%;
    height: 100%;
    border-top: 5px solid rgba(184, 184, 192, 0.219);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 10px;
    list-style: none;
}
.employment li {
    margin: 0px 0px 0px 20px;
    list-style: none;
}
.employment li::before {
    margin-right: 10px;
    content: "\2022";
    font-weight: 900;
    display: inline-block;
    color: rgb(184, 177, 175);
    margin-left: -1em;
}
.employment span {
    display: block;
}
.wrapp_employment img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    right: 0;
}
.ltd {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ltd span:nth-child(1) {
    font-size: 14pt;
    font-weight: bold;
}
.location {
    padding-top: 5px;
    color: rgb(7, 110, 110);
    display: flex;
    justify-content: space-between;
}
.manager {
    padding: 10px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.096);
}
.engineer {
    padding: 10px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.096);
}

.books {
    width: 100%;
    height: 100%;
    grid-area: books;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.books h2 {
    background: linear-gradient(to left, rgb(245, 245, 245), white);
    padding: 10px 0px 10px 20px;
}
.books ul {
    width: 100%;
    height: 100%;
    padding: 10px 10px 10px 20px;
    border-top: 5px solid rgba(184, 184, 192, 0.219);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    list-style: none;
}
.books ul li {
    text-align: center;
    flex-grow: 1;
    font-size: 16px;
    box-shadow: inset 0px 0px 15px 1px rgba(180, 182, 187, 0.267);
    border-radius: 5px;
    padding: 5px;
    margin: 3px;
}

.hobbie {
    width: 100%;
    height: 100%;
    grid-area: hobbie;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.hobbie h2 {
    background: linear-gradient(to left, rgb(245, 245, 245), white);
    padding: 10px 0px 10px 20px;
}
.hobbie ul {
    width: 100%;
    height: 100%;
    padding: 10px 10px 10px 20px;
    border-top: 5px solid rgba(184, 184, 192, 0.219);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    list-style: none;
}
.hobbie ul li {
    text-align: center;
    flex-grow: 1;
    font-size: 16px;
    box-shadow: inset 0px 0px 15px 1px rgba(180, 182, 187, 0.267);
    border-radius: 5px;
    padding: 5px;
    margin: 3px;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    font-size: 12pt;
    line-height: 1.3em;
    color: #003147;
}
h2 {
    font-size: 17pt;
}
body {
    background: radial-gradient(purple, cyan);
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper {
    position: relative;
    max-width: 21cm;
    max-height: 29.7cm;
    margin: 0 auto;
    border: 1px solid black;
    display: grid;
    grid-template-areas: "head body";
    grid-template-rows: 100%;
    grid-template-columns: 3fr 5fr;
}

.head {
    color: #003147;
    background: linear-gradient(to right, rgb(226, 226, 235), white);
    grid-area: head;
    display: grid;
    grid-template-areas:
        "photo"
        "about"
        "contact"
        "education"
        "language";
    grid-template-rows: 1fr 0.5fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

/* --------------------------------about me */
.aboutMySelf {
    padding: 0 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.aboutMySelf h1 {
}
/* --------------------------------body */
.main__body {
    position: relative;
    grid-area: body;
    display: grid;
    grid-template-areas:
        "skills"
        "employment"
        "soft"
        "books"
        "hobbie";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr repeat(2, 2fr) repeat(2, 1fr);
    background: white;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

/* ------------------------------books */
.soft-skills {
    grid-area: soft;
}
@media (max-width: 760px) {
    .wrapper {
        border: none;
        grid-template-areas: "head" "body";
        grid-template-columns: 1fr;
    }
    .head {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        justify-content: center;
        align-items: center;
    }
    .main__body {
        background: linear-gradient(to right, rgb(226, 226, 235), white);
        padding: 0;
        grid-template-rows: repeat(5, 0.5fr);
    }
    .education {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    ul.language_wrap {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
    }
    ul.language_wrap li {
        display: block;
        width: 90%;
    }
    .skills h2 {
        background: linear-gradient(to right, rgb(245, 245, 245), white);
        padding: 10px 0px 10px 20px;
    }

    .stack_technology {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
    }
    .skills li {
        text-align: center;
        font-size: 16px;
        box-shadow: 1px 1px 5px -3px;
        border-radius: 5px;
        background: radial-gradient(rgb(255, 255, 255), rgb(241, 241, 241));
        margin: 3px;
    }
    .wrapp_employment {
        width: 100%;
        height: 100%;
        border-top: 5px solid rgba(184, 184, 192, 0.589);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        list-style: none;
        padding: 10px 20px;
    }
    .manager {
        padding: 0;
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.096);
    }
    .engineer {
        padding: 0;
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.096);
    }
}
@media print {
    @page {
        size: auto; /* auto is the initial value */
        margin: 0mm; /* this affects the margin in the printer settings */
    }
    .wrapper {
        position: relative;
        max-width: 21cm;
        max-height: 29.7cm;
        margin: 0 auto;
        border: 1px solid black;
        display: grid;
        grid-template-areas: "head body";
        grid-template-rows: 100%;
        grid-template-columns: 3fr 5fr;
    }
}

