/* --------------------------------employment */
.employment {
    width: 100%;
    height: 100%;
    grid-area: employment;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.employment h2 {
    background: linear-gradient(to left, rgb(245, 245, 245), white);
    padding: 10px 0px 10px 20px;
}
.wrapp_employment {
    width: 100%;
    height: 100%;
    border-top: 5px solid rgba(184, 184, 192, 0.589);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 10px;
    list-style: none;
}
.employment li {
    margin: 0px 0px 0px 20px;
    list-style: none;
}
.employment li::before {
    margin-right: 10px;
    content: "\2022";
    font-weight: 900;
    display: inline-block;
    color: rgb(184, 177, 175);
    margin-left: -1em;
}
.employment span {
    display: block;
}
.wrapp_employment img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    /* position: absolute; */
    right: 0;
}
.ltd {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ltd span:nth-child(1) {
    font-size: 14pt;
    font-weight: bold;
}
.location {
    padding-top: 5px;
    color: rgb(7, 110, 110);
    display: flex;
    justify-content: space-between;
}
.manager {
    padding: 10px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.096);
}
.engineer {
    padding: 10px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.096);
}
