/* --------------------------------SKILLS STYLE */
.skills {
    width: 100%;
    height: 100%;
    grid-area: skills;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.skills h2 {
    background: linear-gradient(to left, rgb(245, 245, 245), white);
    padding: 5px 0px 5px 20px;
}
.stack_technology {
    width: 100%;
    height: 100%;
    padding: 10px 10px 10px 20px;
    border-top: 5px solid rgba(184, 184, 192, 0.219);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    list-style: none;
}

.skills li {
    flex-grow: 1;
    font-size: 16px;
    box-shadow: inset 0px 0px 15px 1px rgba(180, 182, 187, 0.267);
    border-radius: 5px;
    padding: 5px;
    margin: 3px;
}
