@import "./normalize.css";
@import "./style.css";
@import "./style/photo.css";
@import "./style/contact.css";
@import "./style/education.css";
@import "./style/language.css";
@import "./style/skills.css";
@import "./style/employments.css";
@import "./style/hobbie.css";
@import "./style/soft_skills.css";

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    font-size: 12pt;
    line-height: 1.3em;
    color: #003147;
}

body {
    background: radial-gradient(purple, cyan);
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper {
    background: white;
    position: relative;
    max-width: 21cm;
    max-height: 29.7cm;
    margin: 0 auto;
    border: 1px solid black;
    display: grid;
    grid-template-areas: "head body";
    grid-template-rows: 100%;
    grid-template-columns: 3fr 5fr;
}
.head {
    position: relative;
    color: #003147;
    background: linear-gradient(
        to right,
        rgb(216, 216, 216),
        rgb(255, 255, 255)
    );
    grid-area: head;
    display: grid;
    grid-template-areas:
        "photo"
        "about"
        "contact"
        "education"
        "language";
    grid-template-rows: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.main__body {
    position: relative;
    grid-area: body;
    display: grid;
    grid-template-areas:
        "skills"
        "employment"
        "soft"
        "hobbie";
    grid-template-columns: 100%;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    grid-template-rows: auto;
    background: white;
    justify-content: center;
    align-items: center;
}
h2 {
    border-bottom: 5px solid rgba(184, 184, 192, 0.589);
    position: relative;
    z-index: 5;
    display: block;
    font-size: 17pt;
    padding: 5px 0px 5px 20px;
    background: linear-gradient(
        to right,
        rgb(238, 238, 238),
        rgba(255, 255, 255, 0.452)
    );
}
.element_body {
    margin-left: 20px;
    padding: 5px 0px 5px 0px;
    background: linear-gradient(
        to left,
        rgb(238, 238, 238),
        rgba(255, 255, 255, 0.452)
    );
}

.location {
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 20px;
}
.location span {
    color: rgb(7, 110, 110);
    font-size: 10pt;
    font-weight: bold;
}

.cube {
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    /* background: yellow; */
    /* transition: box-shadow 1s infinite linear forwards; */
}

/* --------------------------------about me */
.aboutMySelf {
    padding: 0 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 10px;
    row-gap: 10px;
    align-items: center;
}
.aboutMySelf h1 {
    margin: 0;
}
.aboutMySelf h4 {
    font-size: 16pt;
    color: rgb(53, 138, 141);
}
.aboutMySelf span {
    color: #003147;
    font-size: 12pt;
    padding: 2px;
    text-indent: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    flex-grow: 0;
    font-weight: bold;
}
/* --------------------------------body */

/* ------------------------------books */
@media (max-width: 760px) {
    .wrapper {
        /* height: 100vh; */
        border: none;
        grid-template-areas: "head" "body";
        grid-template-columns: auto;
        /* grid-auto-rows: auto; */
    }
    h2 {
        padding: 5px 0px 5px 20px;
    }
    .element_body {
        border-bottom: 5px solid rgba(184, 184, 192, 0.589);
        position: relative;
        z-index: 5;
        display: block;
        font-size: 17pt;
        padding: 5px 0px 5px 20px;
        background: linear-gradient(
            to right,
            rgb(238, 238, 238),
            rgba(255, 255, 255, 0.452)
        );
        margin-left: 0;
    }
    .head {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        justify-content: center;
        align-items: center;
    }
    .main__body {
        position: relative;
        grid-area: body;
        display: grid;
        grid-template-areas:
            "skills"
            "employment"
            "soft"
            "hobbie";
        grid-template-columns: 100%;
        grid-template-rows: auto;
        background: white;
        justify-content: center;
        align-items: center;
    }
    ul.language_wrap {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
    }
    ul.language_wrap li {
        display: block;
        width: 90%;
    }

    .stack_technology {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
    }
    .skills li {
        text-align: center;
        font-size: 16px;
        box-shadow: 1px 1px 5px -3px;
        border-radius: 5px;
        background: radial-gradient(rgb(255, 255, 255), rgb(241, 241, 241));
        margin: 3px;
    }
    .wrapp_employment {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        list-style: none;
        padding: 10px 20px;
    }
    .manager {
        padding: 0;
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.096);
    }
    .engineer {
        padding: 0;
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.096);
    }
    .soft_wrapp ul span {
        background: linear-gradient(to right, rgb(245, 245, 245), white 10%);
    }
}
@media print {
    @page {
        size: auto; /* auto is the initial value */
        margin: 0mm; /* this affects the margin in the printer settings */
    }
    .wrapper {
        position: relative;
        max-width: 21cm;
        max-height: 29.7cm;
        margin: 0 auto;
        border: 1px solid black;
        display: grid;
        grid-template-areas: "head body";
        grid-template-rows: 100%;
        grid-template-columns: 3fr 5fr;
    }
}
